.body{
    background-color: #C72033;
    text-align: center;
    /* max-width: 900px; */
    
    /* width: auto; */

}
 .dav{
    background-color: white;
    width: 50%;
    /* max-width: 800px; */
    display: grid;
    margin: auto;
    padding: 50px;
       
}
.ul{
    list-style-type: none;
    background-color: black;
    float: left;
    max-width: 800px;
    margin: 0;
    padding: 0;
}
.li{
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
}
img{
    width: 200px;
    height: 200px;
    /* padding: 20px; */
    /* margin: auto; */
    /* float: left; */
    /* display: inline-block; */
}
.large{
    width: 800px;
    height: 400px; 

}
.h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    word-spacing: 50px;
    /* line-height: 60px; */
    font-size: xx-large;
    padding: 10px;
}
 .container{
    /* background-color: white; */
    max-width:800px ;
    /* height:1200px ; */
    /* padding:30px ; */
    margin: auto;
    
 }
 .center{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 900;
    text-align: center;
 }
 /* .inline{
    display: inline-block;

 } */
 .column{
    float: left;
    width: 23.33%;
    padding: 20px;
 }
 .cool{
    float: left;
    width: 23.33%;
    padding: 20px;

 }





























